includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 6
  paths:
    - voucher-manager.php
    - src
  excludePaths:
    analyse:
      - vendor
  tmpDir: .phpstan.cache
